
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/assets/css/chartist.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="dashboard">
<% include ./partials/navbar %>
<div class="container-fluid dashboard-container">
    <div class="container">
        <div class="row system-status flex-container">
            <!--<div class="flex-item"><h2>시스템 상태 <span class="status-led-off"></span></h2></div>-->
            <div class="col-md-3"><h2>진공 펌프 상태 <span id="grout-status" class="status-led-off"></span></h2></div>
            <div class="col-md-4"><h2>그라우트 펌프 상태 <span id="vacuum-status" class="status-led-off"></span></h2></div>
            <div class="col-md-3"><h2>통신 모듈 <span class="status-led-off"></span></h2></div>
            <div class="col-md-2"><div id="switch"></div></div>
        </div>
        <br />
        <div class="row input-pump">
            <div class="col-md-3">
                <h2>주입 펌프</h2>
            </div>
            <div class="col-md-9">
                <div class="row input-velocity">
                    <div class="col-xs-4">
                        <h4 class="data-title">주입 속도</h4>
                    </div>
                    <div class="col-xs-8 monitor-data">
                        <div class="col-sm-4">
                            <h4 id="grout-flow-meter"></h4>
                        </div>
                        <div class="col-sm-8">
                            <form id="grout-meter-form">
                                <div class="input-group">
                                    <input id="grout-meter-input" type="number" class="form-control" placeholder="0000.000">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" id="grout-input-btn">Update</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row input-pressure">
                    <div class="col-xs-4">
                        <h4 class="data-title">주입 압력</h4>
                    </div>
                    <div class="col-xs-6 monitor-data">
                        <div class="col-xs-12">
                            <h4 id="grout-press"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row vacuum-pump">
            <div class="col-md-3">
                <h2>진공 펌프</h2>
            </div>
            <div class="col-md-9">
                <div class="row input-velocity">
                    <div class="col-xs-4">
                        <h4 class="data-title">진공 압력</h4>
                    </div>
                    <div class="col-xs-8 monitor-data">
                        <div class="col-sm-4">
                            <h4 id="vacuum-meter"></h4>
                        </div>
                        <div class="col-sm-8">
                            <form id="vacuum-meter-form">
                                <div class="input-group">
                                    <input id="vacuum-meter-input" type="number" class="form-control" placeholder="0000.000">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" id="vacuum-input-btn">Update</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row input-pressure">
                    <div class="col-xs-4">
                        <h4 class="data-title">기체충실율</h4>
                    </div>
                    <div class="col-xs-6 monitor-data">
                        <div class="col-xs-12">
                            <h4>{0000.000}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row air-vent">
            <div class="col-md-3">
                <h2>Air Vent</h2>
            </div>
            <div class="col-md-9">
                <div class="row input-velocity">
                    <div class="col-xs-4">
                        <h4 class="data-title">Air Vent-1</h4>
                    </div>
                    <div class="col-xs-6 monitor-data">
                        <div class="col-xs-12">
                            <h4 id="vent-01"></h4>
                        </div>
                    </div>
                </div>
                <div class="row input-pressure">
                    <div class="col-xs-4">
                        <h4 class="data-title">Air Vent-2</h4>
                    </div>
                    <div class="col-xs-6 monitor-data">
                        <div class="col-xs-12">
                            <h4 id="vent-02"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row graph">
            <div class="col-md-3">
                <h2>Graph</h2>
            </div>
            <div class="col-md-12">
                <div class="ct-chart" height="400px"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">연격제어 상태</h4>
            </div>
            <div class="modal-body">
                <p>원격제어 제한 상태입니다.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<script src="/assets/bootstrap/js/bootstrap.js"></script>
<script src="/assets/js/moment.js"></script>
<script src="/assets/js/chartist.js"></script>
<script src="http://localhost:9001/socket.io/socket.io.js"></script>
<script>
    $(function () {
        // Connect to socket with port 9001
        var io = io('http://localhost:9001');

        // Log when a new client is connected
        io.on('connect', function () {
            io.emit('connected from client');
            console.log('socket connected');
        });

        io.on('connection', function(socket) {
            socket.on('data_in', function(data) {
                //Store data from socket into variables
                //tb_grout_data
                groutFlowMeter = data[0][0].grout_flow_meter;
                groutPress = data[0][0].grout_press;
                vacuumMeter = data[0][0].vacuum_meter;
                vent1 = data[0][0].vent_1;
                vent2 = data[0][0].vent_2;

                //Store graph data
                graphData = data[1];

                //tb_grout_status
                plcRemote = data[2][0].plc_remote_on;
                groutStatus = data[2][0].grout_run;
                vacuumStatus = data[2][0].vacuum_run;

                //Set the values into html using jquery set
                $('#grout-flow-meter').text(groutFlowMeter);
                $('#grout-press').text(groutPress);
                $('#vacuum-meter').text(vacuumMeter);
                $('#vent-01').text(vent1);
                $('#vent-02').text(vent2);

                // Draw line chart from the last 10 rows from database table
                var chart = new Chartist.Line('.ct-chart', {
                    series: [
                        {
                            name: 'series-1',
                            data: [
                                {x: new Date(moment(graphData[0].rcv_time, 'h:mm:ss.SSS a')), y: graphData[0].vacuum_meter},
                                {x: new Date(moment(graphData[1].rcv_time, 'h:mm:ss.SSS a')), y: graphData[0].vacuum_meter},
                                {x: new Date(moment(graphData[2].rcv_time, 'h:mm:ss.SSS a')), y: graphData[0].vacuum_meter},
                                {x: new Date(moment(graphData[3].rcv_time, 'h:mm:ss.SSS a')), y: graphData[0].vacuum_meter},
                                {x: new Date(moment(graphData[4].rcv_time, 'h:mm:ss.SSS a')), y: graphData[0].vacuum_meter},
                                {x: new Date(moment(graphData[5].rcv_time, 'h:mm:ss.SSS a')), y: graphData[0].vacuum_meter},
                                {x: new Date(moment(graphData[6].rcv_time, 'h:mm:ss.SSS a')), y: graphData[0].vacuum_meter},
                                {x: new Date(moment(graphData[7].rcv_time, 'h:mm:ss.SSS a')), y: graphData[0].vacuum_meter},
                                {x: new Date(moment(graphData[8].rcv_time, 'h:mm:ss.SSS a')), y: graphData[0].vacuum_meter},
                                {x: new Date(moment(graphData[9].rcv_time, 'h:mm:ss.SSS a')), y: graphData[0].vacuum_meter}
                            ]
                        }
                    ]
                }, {
                    axisX: {
                        type: Chartist.FixedScaleAxis,
                        divisor: 10,
                        labelInterpolationFnc: function(value) {
                            return moment(value).format('h:mm:s.S a');
                        }
                    },
                    fullWidth: true,
                    height: 300
                });

                //Reload client browser
                location.reload();
            });
        });

        $('#grout-meter-form').submit(function(e) {
            e.preventDefault();
            var groutInput = $('#grout-meter-input').val();
            io.emit('grout_in', groutInput);
            console.log('grout_in ' + groutInput);
            //Reload client browser
            location.reload();
        });

        $('#vacuum-meter-form').submit(function(e) {
            e.preventDefault();
            var vacuumInput = $('#vacuum-meter-input').val();
            io.emit('vacuum_in', vacuumInput);
            console.log('vacuum_in ' + vacuumInput);
            //Reload client browser
            location.reload();
        });

        // Change CSS of status-led-x upon database value input
        if ( groutStatus !== "0") {
            $('#grout-status').addClass('status-led-on').removeClass('status-led-off');
        }
        if ( vacuumStatus !== "0") {
            $('#vacuum-status').addClass('status-led-on').removeClass('status-led-off');
        }

        // Update Buttons disabled with a modal when plc_remont_on is 0
        if (plcRemote == "0") {
            $('#grout-input-btn').click(function (e) {
                e.preventDefault();
                $('#myModal').modal('show');
            });
            $('#vacuum-input-btn').click(function (e) {
                e.preventDefault();
                $('#myModal').modal('show');
            });
        }
        // Else allow update button to send ajax request to update database
        else {
            $('#switch').click(function () {
                $(this).toggleClass('on');
            });
        }
    });
</script>
</body>
</html>
